<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width,initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>happy-birthday</title>
    <style>
      body {
        /*background-src: linear-gradient(to bottom, #5f84fd, #0d0d4b 30%, #FFFFFF 80%, #8c9ef0 95%);*/
        /*background-src: radial-gradient(circle at center 2700px, #e9b64b, #FFFFFF 15%, #d3d7fa 75%, #bdc4f7 95%);*/
        background-color: #d3d7fa;
      }
    </style>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but happy-birthday doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
<!--    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet" type="text/css">-->
  </body>
</html>
