<template>
    <!--        <span class='birthday-buttons' @click="countPress">Press</span>-->
    <div class="row">
        <div class="col-md-12">
            <a href="#" :class="classFav" ref="fav"
               @click="countPress"
               @mousedown="mousedown"
               @mouseup="mouseup">
                <labelCountLikes></labelCountLikes>
                <svg class="stableHeart" viewBox="-1 0 18 15">
                    <defs>
                        <path d="M16 4.872c0-4.9-6.894-5.8-8 .695C6.81-.928 0-.027 0 5.25c0 5.274 8 9.697 8 9.697s8-5.177 8-10.075z"
                              id="heartPath"/>
                    </defs>

                    <use xlink:href="#heartPath"/>
                </svg>

                <svg class="floatHeart" viewBox="-1 0 18 15">
                    <use xlink:href="#heartPath"/>
                </svg>
            </a>
        </div>
    </div>

</template>

<script>
  import labelCountLikes from './labelCountLikes'

  export default {
    name: 'buttonAnimation',
    components: {
      labelCountLikes
    },
    data () {
      return {
        favd: true,
        favElem: this.$refs['fav'],
        classFav: 'fav'
      }
    },
    methods: {
      countPress () {
        this.$emit('countPress')
      },
      mousedown () {
        this.classFav = 'fav favPress'
      },
      mouseup () {
        let className = 'fav'
        if (this.favd) {
          className += ' favd'
        }
        this.classFav = className
      }
    }
  }
</script>

<style scoped>
    @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";
    .birthday-buttons {
        position: absolute;
        top: 80%;
        left: 43%;
        text-shadow: 1px 1px pink, -1px -1px maroon;

        line-height: 1.5em;
        text-align: center;
        display: inline-block;
        width: 4.5em;
        -webkit-border-radius: .75em;
        -moz-border-radius: .75em;
        -o-border-radius: .75em;
        border-radius: .75em;
        background-color: red;
        -webkit-box-shadow: 0 .2em maroon;
        -moz-box-shadow: 0 .2em maroon;
        -o-box-shadow: 0 .2em maroon;
        box-shadow: 0 .2em maroon;
        color: red;
        margin: 5px;
        background-color: red;
        background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
        background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
        background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
        background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
        cursor: pointer;
        padding-left: 5px;
    }

    .birthday-buttons:active {
        box-shadow: none;
        /*position: relative;*/
        top: 81%;
        left: 43%;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 80%;
        left: 43%;

        height: 100%;
    }

    .fav {
        position: absolute;
        top: 80%;
        left: 46%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .fav svg {
        transform-origin: center center;
        transition: all .15s ease-out;

        width: 100px;
        height: 150px;
    }

    .fav #heartPath {
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
        transform: inherit;
    }

    .fav.favPress svg {
        transform: scale(0.8);
    }

    .floatHeart {
        position: absolute;
        top: 0;
        left: 0;
    }

    .stableHeart {
        stroke: #bdc3c7;
        fill: none;
    }

    .favd .stableHeart {
        stroke: #b3272d;
        fill: #b3272d;
        opacity: 1;
    }

    .fav:not(.favd):hover .stableHeart {
        stroke: #ff827a;
        opacity: 0.75;
    }

    .fav.favPress .stableHeart {
        opacity: 1;
    }

    .floatHeart {
        fill: none;

        opacity: 0;
    }

    .fav:hover .floatHeart {
        stroke: #ff827a;
        fill: #ff827a;
    }

    .fav.favd .floatHeart {
        animation-duration: 800ms;
        animation-name: poof;
    }

    @keyframes poof {
        from {
            top: 0;
            opacity: 0.6;
        }
        to {
            top: -150%;
            opacity: 0;
        }
    }

</style>
