<template>
    <div class="container">
        <div>
            <span class="flame" :class="flameOff1"></span>
            <span class="flame" :class="flameOff2"></span>
            <span class="flame" :class="flameOff3"></span>
        </div>
        <img class="row-flame" src="../assets/Ponque_100.png" alt="cake">
    </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'cake',
    computed: {
      ...mapState(['count']),
      flameOff3 () {
        return this.count < 15 ? {'flame-off': true} : {'flame-off': false}
      },
      flameOff2 () {
        return this.count < 7 ? {'flame-off': true} : {'flame-off': false}
      },
      flameOff1 () {
        return this.count < 1 ? {'flame-off': true} : {'flame-off': false}
      }
    }
  }
</script>

<style scoped>
    .flame-off {
        position: relative;
        top: 60px;
        left: 17px;
        display: inline-block;
        width: 48px;
        height: 40px;
        background: #0a0505;
        border-radius: 80% 0 80% 30% / 75% 0 80% 30%;
        transform: rotate(-45deg);
        transform-origin: center bottom;
        animation: wiggle 1.5s alternate ease-out infinite;
        opacity: 1%;
    }

    .flame {
        position: relative;
        top: 57px;
        left: 14px;
        display: inline-block;
        width: 36px;
        height: 37px;
        background: #b3272d;
        border-radius: 80% 0 80% 30% / 75% 0 80% 30%;
        transform: rotate(-45deg);
        transform-origin: center bottom;
        animation: wiggle 1.5s alternate ease-out infinite;
    }

    .flame:nth-child(2) {
        animation-delay: 0.65s;
    }

    .flame:nth-child(3) {
        animation-delay: 0.35s;
    }

    .flame:after {
        position: absolute;
        bottom: 1px;
        left: 1px;
        width: 25px;
        height: 25px;
        background: orange;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        content: '';
    }

    .flame:before {
        position: absolute;
        bottom: 2px;
        left: 2px;
        width: 15px;
        height: 15px;
        background: yellow;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        content: '';
        z-index: 2;
    }

    @keyframes wiggle {
        0% {
            transform: scaleY(1) rotate(-35deg);
        }
        25% {
            transform: scaleY(0.85) rotate(-45deg);
        }
        50% {
            transform: scaleY(1.05) rotate(-55deg);
        }
        100% {
            transform: scaleY(0.95) rotate(-45deg);
        }
    }
</style>
