<template>
    <b-container>
        <b-row class="text-center">
            <b-col>
                <img src="../assets/Celebramos_nuestros_100_años.png" alt="Celebremos" :class="{invisible:  zero}">
            </b-col>
        </b-row>
        <div v-if="!finished">
            <b-row>
                <b-col>
                    <redPoint :class="{invisible: finished}"></redPoint>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <cake :class="{invisible: finished}"></cake>
                </b-col>
            </b-row>

            <b-row :class="{invisible: finished}">
                <b-col v-if="!zero">
                    <pressButton></pressButton>
                </b-col>
                <b-col v-else>
                    <img src="./../assets/Celebremos_juntos.png" alt="Celebremos">
                </b-col>
            </b-row>
        </div>
        <div v-else>
            <img src="./../assets/100_anios_logo.png" alt="Celebremos">
        </div>
    </b-container>
</template>

<script>
  import { mapState } from 'vuex'
  import cake from './cake'
  import pressButton from './pressButton'
  import redPoint from './redPoint'

  export default {
    name: 'home',
    components: {
      cake,
      pressButton,
      redPoint
    },
    data () {
      return {
        finished: false,
        cero: mapState['count']
      }
    },
    computed: {
      ...mapState(['count']),
      zero () {
        return this.count === 0
      }
    },
    beforeUpdate () {
      if (this.zero) {
        setTimeout(() => this.finished = true, 5000)
      }

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    invisible {
        opacity: 0.1%;
    }

</style>
