<template>
    <div id="talkbubble"><span class="count">{{likes}}</span></div>
</template>

<script>
  import store from './../store'

  export default {
    name: 'labelCountLikes',
    data () {
      return {
        likes: 0
      }
    },
    created () {

      store.documents.likes.on('value', snapshot => {
        this.likes = snapshot.val().count.value
      })
    }
  }
</script>

<style scoped>
    .count {
        line-height: 60px;
        color: #FFFFFF;
        /*margin-left: 1px;*/
        font-size: 25px;
        font-family: Helvetica;
        font-style: italic;
    }

    #talkbubble {
        width: 60px;
        height: 60px;
        background: #b3272d;
        position: relative;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 20px;
        float: right;
        opacity: 0.89;
        margin: 20px;
    }

    #talkbubble:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 17px;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-right: 23px solid #b3272d;
        border-bottom: 13px solid transparent;

    }
</style>
