<template>
    <div>

        <h2>likes: {{likes}}</h2>
        <button @click="incrementLikes">like</button>
        <div :key="i" v-for="(message,i) in messages" class="card" v-show="false">
            <div class="card-body">
                <!-- nickname -->
                <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
                <!-- content -->
                <p class="card-text">{{ message.text }}</p>
            </div>
        </div>
        <hr>
        <!-- New Message -->
        <form @submit.prevent="storeMessage" v-show="false">
            <div class="form-group">
                <label>Message:</label>
                <textarea v-model="messageText" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Nickname:</label>
                <input v-model="nickname" class="form-control"/>
            </div>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>
</template>

<script>
  import firebase from 'firebase'

  const firebaseConfig = {
    apiKey: 'AIzaSyA0xm_-BKJGFMfFW0Zr75ubhumnnN4CxKg',
    authDomain: 'happybavianca.firebaseapp.com',
    databaseURL: 'https://happybavianca.firebaseio.com',
    projectId: 'happybavianca',
    storageBucket: 'happybavianca.appspot.com',
    messagingSenderId: '337577184197',
    appId: '1:337577184197:web:97b2fb444fa13a5da719ac',
    measurementId: 'G-KDR6750RVL'
  }
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig)

  const database = firebase.database()
  const dbRef = database.ref('messages')
  const dbRefLikes = database.ref('likes')

  export default {
    name: 'messages',
    data () {
      return {
        messages: [],
        messageText: '',
        nickname: 'hootlex',
        likes: ''
      }
    },
    methods: {
      storeMessage () {
        // this.messages.push({text: this.messageText, nickname: this.nickname})
        dbRef.push({text: this.messageText, nickname: this.nickname})
        this.messageText = ''
      },
      incrementLikes () {
        let liked = this.likes + 1
        dbRefLikes.child('count').update({value: liked})
      }

    },
    created () {
      dbRef.on('child_added', snapshot => this.messages.push(snapshot.val()))
      dbRef.on('value', snapshot => {
        this.messages = snapshot.val()
      })

      dbRefLikes.on('value', snapshot => {
        this.likes = snapshot.val().count.value
      })
    }
  }

</script>

<style scoped>

</style>
