<template>
    <a @click.prevent="decrement" href="#">
        <img :src="require(`./../assets/${src}`)" @mousedown="src = otherImage" @mouseup="src =  myImage" alt="Press">
    </a>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'pressButton',
    data () {
      return {
        src: 'Presiona_aqui_2.png',
        myImage: 'Presiona_aqui_2.png',
        otherImage: 'Presiona_aqui.png'

      }
    },
    methods: {
      ...mapMutations(['decrement'])
    }
  }
</script>

<style scoped>

</style>
