<template>
    <div>
        <div id="shiva"><span class="count">{{count}}</span></div>
    </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'redPoint',
    computed: mapState([
      'count'
    ])
  }
</script>

<style scoped>
    #shiva {
        width: 100px;
        height: 100px;
        background: #de0108;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        float: initial;
        margin-right: auto;
        margin-left: auto;
    }

    .count {
        line-height: 100px;
        color: white;
        margin-left: 0px;
        font-size: 65px;
        font-weight: bold;
        font-family: Helvetica;
    }
</style>
