<template>
    <div id="app" class="" :class="{'bg':zero}">
        <Candles msg="Happy birthday"/>
    </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Candles from './components/home.vue'

  export default {
    name: 'app',
    components: {
      Candles
    },
    computed: {
      ...mapState(['count']),
      zero () {
        return this.count === 0
      }
    }
  }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        /*color: #2c3e50;*/
        margin-top: 5px;
        background-color: #e1e1e1;
    }

    .bg {
        background-color: #e1e1e1;
        background-image: url('./assets/Bombas.png');
        background-repeat: repeat-x;

    }
</style>
